<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486155576858-n42gooftb1oee47lmoq1ebq59j03ejj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486155576858-n42gooftb1oee47lmoq1ebq59j03ejj4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>486155576858-i5phofd3n71bc62qg6vgf5m0eruo19k5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJb3BW--pgZtXcOQZMUgfQi6J1r2e7jYM</string>
	<key>GCM_SENDER_ID</key>
	<string>486155576858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskrbuy</string>
	<key>PROJECT_ID</key>
	<string>taskrbuy</string>
	<key>STORAGE_BUCKET</key>
	<string>taskrbuy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486155576858:ios:375d096bb6c2cf261c13a3</string>
</dict>
</plist>